Tutorials/Tutorial 1 - Deploy Tutorial Services/ACMEWarehouse.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://warehouse.acme.com/ws" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://warehouse.acme.com/ws" xmlns:intf="http://warehouse.acme.com/ws"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <wsdl:types>
                <schema elementFormDefault="qualified" targetNamespace="http://warehouse.acme.com/ws" xmlns="http://www.w3.org/2001/XMLSchema">
                        <element name="listProducts">
                                <complexType>
                                        <sequence>
                                                <element name="delay" type="xsd:int"/>
                                        </sequence>
                                </complexType>
                        </element>
                        <element name="listProductsResponse">
                                <complexType>
                                        <sequence>
                                                <element maxOccurs="unbounded" name="listProductsResult" type="impl:listProductsResultArray"/>
                                        </sequence>
                                </complexType>
                        </element>
                        <complexType name="listProductsResultArray">
                                <sequence>
                                        <element maxOccurs="unbounded" name="listProductsResult" type="impl:ProductListHeader"/>
                                </sequence>
                        </complexType>
                        <complexType name="ProductListHeader">
                                <sequence>
                                        <element maxOccurs="1" minOccurs="0" name="productName" type="xsd:string"/>
                                        <element name="productId" type="xsd:long"/>
                                </sequence>
                        </complexType>
                        <element name="getProductDetails">
                                <complexType>
                                        <sequence>
                                                <element name="productid" type="xsd:long"/>
                                                <element name="delay" type="xsd:int"/>
                                        </sequence>
                                </complexType>
                        </element>
                        <element name="getProductDetailsResponse">
                                <complexType>
                                        <sequence>
                                                <element name="getProductDetailsResult" type="impl:ProductDetails"/>
                                        </sequence>
                                </complexType>
                        </element>
                        <complexType name="ProductDetails">
                                <complexContent>
                                        <extension base="impl:ProductListHeader">
                                                <sequence>
                                                        <element maxOccurs="1" minOccurs="0" name="description" type="xsd:string"/>
                                                        <element name="price" type="xsd:float"/>
                                                        <element name="inStock" type="xsd:boolean"/>
                                                </sequence>
                                        </extension>
                                </complexContent>
                        </complexType>
                        <element name="placeOrder">
                                <complexType>
                                        <sequence>
                                                <element name="productid" type="xsd:long"/>
                                                <element name="amount" type="xsd:long"/>
                                                <element name="price" type="xsd:float"/>
                                                <element name="accountid" type="xsd:long"/>
                                                <element name="delay" type="xsd:int"/>
                                        </sequence>
                                </complexType>
                        </element>
                        <element name="placeOrderResponse">
                                <complexType>
                                        <sequence>
                                                <element name="placeOrderResult" type="xsd:long"/>
                                        </sequence>
                                </complexType>
                        </element>
                        <element name="currentOrders">
                                <complexType>
                                        <sequence>
                                                <element name="accountid" type="xsd:long"/>
                                                <element name="delay" type="xsd:int"/>
                                        </sequence>
                                </complexType>
                        </element>
                        <element name="currentOrdersResponse">
                                <complexType>
                                        <sequence>
                                                <element maxOccurs="unbounded" name="currentOrdersResult" type="impl:Order"/>
                                        </sequence>
                                </complexType>
                        </element>
                        <complexType name="Order">
                                <sequence>
                                        <element name="date" type="xsd:dateTime"/>
                                        <element name="accountId" type="xsd:long"/>
                                        <element name="productId" type="xsd:long"/>
                                        <element name="amount" type="xsd:long"/>
                                        <element name="price" type="xsd:float"/>
                                        <element name="confirmationId" type="xsd:long"/>
                                </sequence>
                        </complexType>
                </schema>
        </wsdl:types>

        <wsdl:message name="listProductsResponse">

                <wsdl:part element="impl:listProductsResponse" name="parameters"/>

        </wsdl:message>

        <wsdl:message name="currentOrdersRequest">

                <wsdl:part element="impl:currentOrders" name="parameters"/>

        </wsdl:message>

        <wsdl:message name="listProductsRequest">

                <wsdl:part element="impl:listProducts" name="parameters"/>

        </wsdl:message>

        <wsdl:message name="currentOrdersResponse">

                <wsdl:part element="impl:currentOrdersResponse" name="parameters"/>

        </wsdl:message>

        <wsdl:message name="placeOrderResponse">

                <wsdl:part element="impl:placeOrderResponse" name="parameters"/>

        </wsdl:message>

        <wsdl:message name="getProductDetailsResponse">

                <wsdl:part element="impl:getProductDetailsResponse" name="parameters"/>

        </wsdl:message>

        <wsdl:message name="getProductDetailsRequest">

                <wsdl:part element="impl:getProductDetails" name="parameters"/>

        </wsdl:message>

        <wsdl:message name="placeOrderRequest">

                <wsdl:part element="impl:placeOrder" name="parameters"/>

        </wsdl:message>

        <wsdl:portType name="WarehouseSoap">

                <wsdl:operation name="listProducts">

                        <wsdl:input message="impl:listProductsRequest" name="listProductsRequest"/>

                        <wsdl:output message="impl:listProductsResponse" name="listProductsResponse"/>

                </wsdl:operation>

                <wsdl:operation name="getProductDetails">

                        <wsdl:input message="impl:getProductDetailsRequest" name="getProductDetailsRequest"/>

                        <wsdl:output message="impl:getProductDetailsResponse" name="getProductDetailsResponse"/>

                </wsdl:operation>

                <wsdl:operation name="placeOrder">

                        <wsdl:input message="impl:placeOrderRequest" name="placeOrderRequest"/>

                        <wsdl:output message="impl:placeOrderResponse" name="placeOrderResponse"/>

                </wsdl:operation>

                <wsdl:operation name="currentOrders">

                        <wsdl:input message="impl:currentOrdersRequest" name="currentOrdersRequest"/>

                        <wsdl:output message="impl:currentOrdersResponse" name="currentOrdersResponse"/>

                </wsdl:operation>

        </wsdl:portType>

        <wsdl:binding name="WarehouseSoapSoapBinding" type="impl:WarehouseSoap">

                <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

                <wsdl:operation name="listProducts">

                        <wsdlsoap:operation soapAction="http://warehouse.acme.com/ws/listProducts"/>

                        <wsdl:input name="listProductsRequest">

                                <wsdlsoap:body use="literal"/>

                        </wsdl:input>

                        <wsdl:output name="listProductsResponse">

                                <wsdlsoap:body use="literal"/>

                        </wsdl:output>

                </wsdl:operation>

                <wsdl:operation name="getProductDetails">

                        <wsdlsoap:operation soapAction="http://warehouse.acme.com/ws/getProductDetails"/>

                        <wsdl:input name="getProductDetailsRequest">

                                <wsdlsoap:body use="literal"/>

                        </wsdl:input>

                        <wsdl:output name="getProductDetailsResponse">

                                <wsdlsoap:body use="literal"/>

                        </wsdl:output>

                </wsdl:operation>

                <wsdl:operation name="placeOrder">

                        <wsdlsoap:operation soapAction="http://warehouse.acme.com/ws/placeOrder"/>

                        <wsdl:input name="placeOrderRequest">

                                <wsdlsoap:body use="literal"/>

                        </wsdl:input>

                        <wsdl:output name="placeOrderResponse">

                                <wsdlsoap:body use="literal"/>

                        </wsdl:output>

                </wsdl:operation>

                <wsdl:operation name="currentOrders">

                        <wsdlsoap:operation soapAction="http://warehouse.acme.com/ws/currentOrders"/>

                        <wsdl:input name="currentOrdersRequest">

                                <wsdlsoap:body use="literal"/>

                        </wsdl:input>

                        <wsdl:output name="currentOrdersResponse">

                                <wsdlsoap:body use="literal"/>

                        </wsdl:output>

                </wsdl:operation>

        </wsdl:binding>

        <wsdl:service name="Warehouse">

                <wsdl:port binding="impl:WarehouseSoapSoapBinding" name="WarehouseSoap">

                        <wsdlsoap:address location="http://localhost:8080/ACMEWarehouse/services/WarehouseSoap"/>

                </wsdl:port>

        </wsdl:service>

</wsdl:definitions>
